
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body {
    background-color: #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-transform: lowercase;
}

.panel {
    background-color: #f7f7f7;
    border-radius: 10px 5px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricing-plan {
    border-bottom: 1px solid #eeee;
}
.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: rgb(235, 150, 52);
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.pricing-features {
    margin: 50px 0 25px;
    color: rgb(88, 58, 30);
}

.pricing-features-item {
    font-weight: 400;
    letter-spacing: 2px;
    font-size:  0.9em;
    line-height: 1.5;
    padding: 15px;
    border-top: 1px solid  #eee;
}

.pricing-price {
    color: #f06d06;
    display: block;
    font-size: 1.8em;
    font-weight: 700;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid  #eee;
}

.pricing-button {
    border: 1px solid #f06d06;
    border-radius: 12px;
    color: #f06d06;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 150ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus{
    background-color: #f06d06;
    color: #fdfdfb;
}

.pricing-button.is-featured {
    background-color: #f06b0646;
    color: #3b3b3b;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color: #f06b0660;
    color: #3b3b3b;
}

@media (min-width: 900px){
    .panel{
        flex-direction: row ;
    }
    .pricing-plan{
        border-bottom:none;
        border-right: solid #eee: ;
        padding: 25px 15px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}